i {
  transform: scale(1.5);
  padding: 1rem;
  color: black;
}

section i {
  color: rgb(58, 58, 151);
}

a {
text-decoration: none !important;
}

a:hover {
text-decoration: none !important;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

.card:hover {
    transform: scale(1.05);
    transition: 0.4s;
    cursor: pointer;

}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

  
.feature-icon-small {
    width: 3rem;
    height: 3rem;
  }

@media (hover) {
  section {
    display: grid;
}
}

h3 {
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
} 

section.opened h3.role {
    font-weight: 700;
}

div.info {
    display: none;
    line-height: 1.4;
    font-size: 18px;
    margin: 10px 0;
    max-width: 40em;
}

section.opened div.info {
    display: block;
}

section div.status {
  width: 16px;
  height: 28px;
  background: transparent;
  border: 2px solid rgb(58, 58, 151);
  border-radius: 100px;
  transition: 0.3s;
}

section.job.opened .status,
section.job.opened:hover .status {
  background: rgb(58, 58, 151);
}

section.job:hover .status{
  background:rgb(58, 58, 151, 0.75);
}

.role {
  position: relative;
  display: inline-block;
}

.role::after {
  content: '';
  position: absolute;
  width: 0;
  display: block;
  left: 0;
  border-bottom: 2px solid rgb(58, 58, 151);
  transition: width 500ms ease;
}

.role:hover::after {
  width: 100%;
}

.project-overlay:hover {
  transform: scale(1.05);
  background-color: rgba(46, 52, 54, 0.8);
  color: white;
  opacity: 1;
  transition: 0.4s;
  cursor: pointer;
  height: 100%;
  width: 100%;

}

.project-text {
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 10px;
  left: 10px;
  overflow-wrap: normal;
}

.project-overlay:hover .project-text {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-overlay:hover h2, 
.project-overlay:hover span {
  opacity: 0;
  transition: opacity 0.3s ease;
}