body {
    font-family: "Didact Gothic", sans-serif;
    font-size: 1em;
    background-color: #00162F;
    color: #D9D9DA;

  }

  h2, h6 {
    color: #64C4FF;
  }

  h3 {
    font-size: 1.5rem;
  }

  a {
    color: #64C4FF;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  .button {
    background-color: #00162F;
    color: #64C4FF;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #64C4FF;
    border-radius: 4px;
    font-size: 1em;
    margin: 3px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
    background-color: #64C4FF;
    text-decoration: none;
    color: white;
  }

  .card-text {
    color: #00162F;
  }

  .fa-brands {
    color: #D9D9DA;
    padding: 0.5rem;
  }

  i {
    padding: 2rem;
  }

  .images {
    flex-direction: row;
  }

  .languages {
    border: 1px solid lightslategrey;
    border-radius: 5px;
  }

  .lang-title {
    color: #64C4FF;
    padding: 5px 0px;
  }

  .material-symbols-outlined:hover {
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
    cursor: default;
  }

  .titlecolor {
    background-color: #00234C;
    color: white;
  }

  .navcolor {
    color: #00162F;
    background-color: white;
    /* background-color: #9CB6C6; */

  }

  .popcolor {
    color: #64C4FF;
  }

  .title-name {
    text-align: center;
    padding: 1rem;
  }

  .title-location {
    padding-bottom: 2rem ;
  }

  @media screen and (max-width: 800px) {
    .images {
      flex-direction: column;
    }
  }